<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <nav
        class="navbar navbar-expand-lg navbar-light"
        style="background-color: #03501a"
      >
        <a class="navbar-brand text-light" href="{% url 'djangoapp:index' %}"
          >Best Cars</a
        >
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-link text-light" href="{% url 'djangoapp:contact' %}"
              >Contact us</a
            >
            <a class="nav-link text-light" href="{% url 'djangoapp:about' %}"
              >About us</a
            >
            <div class="dropdown">
                <a class="nav-link text-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Login
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <form class="px-4 py-3" action="{% url 'djangoapp:login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="username">User</label>
                      <input
                        type="text"
                        class="form-control"
                        id="username"
                        name="username"
                        placeholder="User name"
                      />
                    </div>
                    <div class="form-group">
                      <label for="psw">Password</label>
                      <input
                        type="password"
                        class="form-control"
                        id="psw"
                        name="psw"
                        placeholder="Password"
                      />
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                  </form>
                  <a class="dropdown-item" href="{% url 'djangoapp:registration' %}">Sign up</a>
    
              </div> 
          </div>
        </div>
      </nav>
      <form action="{% url 'djangoapp:registration' %}" method="post">
        <div class="container"> 
            {% csrf_token %}
            <h1>Sign Up</h1>
            <hr>
            <div class="form-group"> 
                <label for="username"><b>User Name</b></label>
                <input type="text" class="form-control" placeholder="Enter User Name: " name="username" required> <!--Style input with .form-control class -->
                <label for="firstname"><b>First Name</b></label>
                <input type="text" class="form-control" placeholder="Enter First Name: " name="firstname" required> <!--Style input with .form-control class -->
                <label for="lastname"><b>Last Name</b></label>
                <input type="text" class="form-control" placeholder="Enter Last Name: " name="lastname" required> <!--Style input with .form-control class -->
                <label for="psw"><b>Password</b></label>
                <input type="password" class="form-control" placeholder="Enter Password: " name="psw" required> <!--Style input with .form-control class -->
                {% if message %}
                <div class="alert alert-warning"> 
                    {{ message }}
                </div>
                {% endif %}
                <button class="btn btn-success" type="submit">Sign up</button> 
            </div>
        </div>
    </form>
    </body>
</html>